.container[b-amumwnqaic]{
    margin-left:0px;
}
.hero_area[b-amumwnqaic] {
    /* background-image: url('../images/hero-bg2.jpg');*/
    background-color: lightskyblue;
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 60% 100%;
}

.sub_page .hero_area[b-amumwnqaic] {
    height: auto;
    background: none;
    background-color: #0f2480;
}

.header_section[b-amumwnqaic] {
    /* overflow-x: hidden;*/
}

    .header_section .container-fluid[b-amumwnqaic] {
        padding-right: 25px;
        padding-left: 25px;
    }

    .header_section .nav_container[b-amumwnqaic] {
        margin: 0 auto;
    }

    .header_section .navbar-expand-lg .navbar-nav[b-amumwnqaic] {
        width: 90%;
    }

    .header_section .user_option[b-amumwnqaic] {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

        .header_section .user_option a[b-amumwnqaic] {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #ffffff;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
        }

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item .nav-link[b-amumwnqaic] {
    padding: 10px 15px;
    color: #060606;
    text-align: center;
    text-transform: uppercase;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-item.active .nav-link[b-amumwnqaic], .custom_nav-container.navbar-expand-lg .navbar-nav .nav-item:hover .nav-link[b-amumwnqaic] {
    color: #3554d1;
}

a[b-amumwnqaic],
a:hover[b-amumwnqaic],
a:focus[b-amumwnqaic] {
    text-decoration: none;
}

    a:hover[b-amumwnqaic],
    a:focus[b-amumwnqaic] {
        color: initial;
        text-decoration: none;
    }

.btn[b-amumwnqaic],
.btn:focus[b-amumwnqaic] {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom_nav-container .nav_search-btn[b-amumwnqaic] {
    background-image: url(../images/search-icon.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
}

.navbar-brand[b-amumwnqaic] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

    .navbar-brand img[b-amumwnqaic] {
        width: 112px;
        height: 70px;
    }

.custom_nav-container[b-amumwnqaic] {
    z-index: 99999;
    padding: 0;
    height: fit-content;
}


    .custom_nav-container .navbar-toggler[b-amumwnqaic] {
        outline: none;
    }

        .custom_nav-container .navbar-toggler .navbar-toggler-icon[b-amumwnqaic] {
            background-image: url(../images/menu.png);
            background-size: 50px;
            width: 30px;
            height: 30px;
        }

.lg_toggl-btn[b-amumwnqaic] {
    background-color: transparent;
    border: none;
    outline: none;
    width: 56px;
    height: 40px;
    cursor: pointer;
}

    .lg_toggl-btn:focus[b-amumwnqaic] {
        outline: none;
    }

.User_option[b-amumwnqaic] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: 35px;
}

    .User_option a[b-amumwnqaic] {
        color: #060606;
    }




.custom_menu-btn[b-amumwnqaic] {
    z-index: 9;
    position: absolute;
    right: 15px;
    top: 7px;
}

    .custom_menu-btn button[b-amumwnqaic] {
        margin-top: 12px;
        outline: none;
        border: none;
        background-color: transparent;
    }

        .custom_menu-btn button span[b-amumwnqaic] {
            display: block;
            width: 50px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
            -webkit-transition: all .3s;
            transition: all .3s;
        }

.menu_btn-style[b-amumwnqaic] {
    position: fixed;
    right: 40px;
    top: 7px;
}

.custom_menu-btn .s-2[b-amumwnqaic] {
    width: 25px;
    margin-left: auto;
}

.custom_menu-btn .s-3[b-amumwnqaic] {
    width: 25px;
    margin-left: auto;
}

.overlay[b-amumwnqaic] {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: rgba(53, 84, 209, 0.9);
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

    .overlay .closebtn[b-amumwnqaic] {
        position: absolute;
        top: 0;
        right: 30px;
        font-size: 60px;
    }

    .overlay a[b-amumwnqaic] {
        padding: 0px;
        text-decoration: none;
        font-size: 22px;
        color: #f1f1f1;
        display: block;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        margin-bottom: 15px;
    }

        .overlay a:hover[b-amumwnqaic] {
            color: #252525;
        }

.overlay-content[b-amumwnqaic] {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menu_width[b-amumwnqaic] {
    width: 100%;
}
